@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
} */
:root {
  --background: oklch(0.9865 0.0029 84.5590);
  --foreground: oklch(0.2819 0.0344 144.5937);
  --card: oklch(0.9725 0.0049 84.5641);
  --card-foreground: oklch(0.2819 0.0344 144.5937);
  --popover: oklch(0.9865 0.0029 84.5590);
  --popover-foreground: oklch(0.2819 0.0344 144.5937);
  --primary: oklch(0.5090 0.1002 154.7592);
  --primary-foreground: oklch(0.9865 0.0029 84.5590);
  --secondary: oklch(0.5969 0.0775 222.2884);
  --secondary-foreground: oklch(0.9865 0.0029 84.5590);
  --muted: oklch(0.9278 0.0074 84.5708);
  --muted-foreground: oklch(0.5231 0.0398 144.9784);
  --accent: oklch(0.9048 0.0413 76.3506);
  --accent-foreground: oklch(0.3406 0.0647 54.0688);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8882 0.0132 145.4631);
  --input: oklch(0.9258 0.0087 145.5046);
  --ring: oklch(0.5090 0.1002 154.7592);
  --chart-1: oklch(0.5090 0.1002 154.7592);
  --chart-2: oklch(0.5969 0.0775 222.2884);
  --chart-3: oklch(0.6894 0.1278 71.2857);
  --chart-4: oklch(0.5678 0.0719 169.9876);
  --chart-5: oklch(0.5297 0.0789 55.6460);
  --sidebar: oklch(0.9637 0.0065 145.5251);
  --sidebar-foreground: oklch(0.3369 0.0438 144.5266);
  --sidebar-primary: oklch(0.5090 0.1002 154.7592);
  --sidebar-primary-foreground: oklch(0.9865 0.0029 84.5590);
  --sidebar-accent: oklch(0.9153 0.0162 160.5913);
  --sidebar-accent-foreground: oklch(0.4285 0.0822 154.9952);
  --sidebar-border: oklch(0.8882 0.0132 145.4631);
  --sidebar-ring: oklch(0.5090 0.1002 154.7592);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(120, 20%, 15%);
  --shadow-2xs: 0px 4px 10px 0px hsl(120 20% 15% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(120 20% 15% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(120 20% 15% / 0.05), 0px 1px 2px -1px hsl(120 20% 15% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(120 20% 15% / 0.05), 0px 1px 2px -1px hsl(120 20% 15% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(120 20% 15% / 0.05), 0px 2px 4px -1px hsl(120 20% 15% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(120 20% 15% / 0.05), 0px 4px 6px -1px hsl(120 20% 15% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(120 20% 15% / 0.05), 0px 8px 10px -1px hsl(120 20% 15% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(120 20% 15% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2216 0.0185 144.9190);
  --foreground: oklch(0.9293 0.0098 84.5761);
  --card: oklch(0.2447 0.0216 144.8785);
  --card-foreground: oklch(0.9293 0.0098 84.5761);
  --popover: oklch(0.2216 0.0185 144.9190);
  --popover-foreground: oklch(0.9293 0.0098 84.5761);
  --primary: oklch(0.6379 0.1196 155.1899);
  --primary-foreground: oklch(0.2216 0.0185 144.9190);
  --secondary: oklch(0.5423 0.0633 221.7076);
  --secondary-foreground: oklch(0.9625 0.0022 219.5233);
  --muted: oklch(0.3282 0.0224 145.0423);
  --muted-foreground: oklch(0.7289 0.0162 145.4068);
  --accent: oklch(0.3933 0.0411 75.4400);
  --accent-foreground: oklch(0.9048 0.0413 76.3506);
  --destructive: oklch(0.4760 0.1590 25.6357);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3282 0.0224 145.0423);
  --input: oklch(0.3791 0.0270 145.0184);
  --ring: oklch(0.6379 0.1196 155.1899);
  --chart-1: oklch(0.6379 0.1196 155.1899);
  --chart-2: oklch(0.5423 0.0633 221.7076);
  --chart-3: oklch(0.6067 0.0854 74.2747);
  --chart-4: oklch(0.5065 0.0552 170.8076);
  --chart-5: oklch(0.4759 0.0537 56.5657);
  --sidebar: oklch(0.1999 0.0202 144.7747);
  --sidebar-foreground: oklch(0.8913 0.0112 84.5796);
  --sidebar-primary: oklch(0.6379 0.1196 155.1899);
  --sidebar-primary-foreground: oklch(0.2216 0.0185 144.9190);
  --sidebar-accent: oklch(0.2751 0.0176 145.0778);
  --sidebar-accent-foreground: oklch(0.8407 0.0673 158.9648);
  --sidebar-border: oklch(0.3072 0.0205 145.0546);
  --sidebar-ring: oklch(0.6379 0.1196 155.1899);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
/* 
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}